<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>CoDolph</title>
  <link rel="icon" href="/media/images/코돌프(검정).png" type="image/x-icon">

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  
  <!-- 폰트 적용 추가 -->
  <style>
    @font-face {
        font-family: 'S-CoreDream-3Light';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body {
        font-family: 'S-CoreDream-3Light';
    }

    h4 {
      margin-top: 30px;
    }

    div.chart1 {
      margin: auto;
      width: 90%;
    }

    div.detail-box > div > h2 {
      margin-top: 30px;
    }
    #github{
      color: white;
    }
    #github:hover {
      color: gray;
    }
    </style>
    
<!-- 토글 버튼 추가 -->
    <script>
        function toggleVisibility(id) {
            const element = document.getElementById(id);
            element.style.display = element.style.display === 'none' ? 'block' : 'none';
        }
    </script>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid" style="background-color: #6495ED;">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="{% url 'test:index' %}">
            <div class="img-box">
              <img src="/media/images/코돌프.png" width="70px" alt="">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'test:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:about' %}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:do' %}"> Analysis </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:portfolio' %}"> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:contact' %}">Prediction</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">

        <div class="heading_container">
            <h2>
            경제지표란?
            </h2>
        </div>
        
        <section calss="who_section layout_padding">
            <div class="container">
                <div class="detail-box">
                    
                    <h4>경제지표란</h4>
                    <p>한 나라의 경제 상태를 수치나 통계로 나타낸 정보를 말해요.
                       쉽게 말해서, 경제가 얼마나 건강한지 또는 어디로 가고 있는지 보여주는 "체온계"나 "나침반"같은 역할을 합니다.</p>
                
                    <h4>왜 중요할까요?</h4>
                    <h5>1. 경제 상황의 이해</h5>
                    <p>경제 지표를 보면 지금 경제가 잘 돌아가고 있는지, 아니면 어려움을 겪고 있는지를 알 수 있어요.</p>

                    <h5>2. 정책 결정의 기준</h5>
                    <p>정부나 중앙은행은 경제지표를 보고 금리를 올릴지, 내릴지, 아니면 다른 정책을 쓸지 결정합니다.</p>

                    <h5>3. 투자와 비즈니스 전력에 활용</h5>
                    <p>투자자나 기업들은 경제지표를 분석해 미래를 예측하고, 투자 전략을 세우거나 사업 방향을 정합니다.</p>

                    <h4>요약하자면</h4>
                    <span>경제지표는 경제의 건강 상태를 측정하는 도구입니다.</span>
                    <p>이 지표들은 모두 경제의 현재, 과거, 미래를 이해하고, 더 나은 결정을 내리는 데 중요한 역할을 합니다.</p>
                </div>
            </div>
        </section>
    <div class = "heading_container">
      <h2>상관관계</h2>
      <div id="full_corr_graph">
          {{ full_corr_graph|safe }}
      </div>
    </div>

    <div class="heading_container">
        <h2>
            경제지표별 관계
        </h2>
    </div>
    <div class="hero_area">
    <!-- 반감기 종가 그래프로 활용 -->
    <!-- slider section -->
        <section class=" slider_section position-relative">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="detail-box">
                                        <div>
                                            <h2> 주식시장 </h2>                                       
                                              <div id="stock_graph" class="chart1">
                                                  {{ stock_graph|safe }}
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h2> 경제성장 </h2>
                                        <div id="economy_graph" class="chart1">
                                          {{ economy_graph|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h2> 물가 </h2>
                                        <div id="price_graph" class="chart1">
                                          {{ price_graph|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h2> 통화 정책 </h2>
                                        <div id="monetary_graph" class="chart1">
                                          {{ monetary_graph|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h2> 안전 자산 </h2>
                                        <div id="asset_graph" class="chart1">
                                          {{ asset_graph|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
    <!-- end slider section -->
    </div>
    <section calss="who_section layout_padding">
            <div class="container">
            <!-- 토글 버튼 -->
            <button onclick="toggleVisibility('compoundInterest')" style="margin-top: 30px;">경제지표별 관계</button>
            <!-- 토글버튼 클릭시 나오는 내용 -->
            <div id="compoundInterest" style="display: none;">
                <div class="detail-box">
                  <h4>1. 주식시장(wilshire 5000, buffet 지수)</h4>
                  <ul>
                    <li>1차 반감기 : 주식 시장과의 연관성은 낮았습니다.</li>
                    <li>2차 반감기 : 위험 자산으로 평가받으며 상관관계가 강화되었습니다.</li>
                    <li>3차 반감기 : 팬데믹으로 인한 유동성 공급이 상관관계를 최고 수준으로 끌어올렸습니다.</li>
                    <li>4차 반감기 : Wilshire 5000과의 상관관계가 0.24로 감소하며, Buffet 지수와도 유사한 감소세를 보였고, 주식 시장보다 글로벌 경제 심리와 투자 요인에 더 민감하게 반응했습니다.</li>
                  </ul>
                  <p>각 반감기별 상관관계 변화는 비트코인이 경제적 맥락에 따라 다르게 작용하는 자산임을 보여줍니다.</p>

                  
                  <h4>2. 경제 성장(GDP, 경제성장률)</h4>
                  <ul>
                    <li>1차 반감기 : GDP와는 중간 수준(0.47)으로 어느 정도 상호 작용을 했고, 경제 성장률과는 약한 수준(0.01)의 연관성을 보였습니다.</li>
                    <li>2차 반감기 : 투자 대안으로 주목받으며 상관관계가 증가했습니다.</li>
                    <li>3차 반감기 : GDP와 경제성장률 모두 낮은 수준의 상관관계를 보이며, 팬데믹의 유동성 공급으로 경제 성장보다 투자 심리와 유동성의 영향을 더 크게 받았습니다.</li>
                    <li>3차 반감기 : GDP와 경제 성장률 모두 음의 상관관계(-0.28)를 보이며, 전통 경제지표와의 연관성이 약화되었습니다.</li>
                  </ul>
                  <p>비트코인이 경제 성장에 의존하기보다 글로벌 심리와 정책 변화에 더 민감한 자산으로 진화했음을 나타냅니다.</p>

                  <h4>3. 물가(소비자물가지수, 생산자물가지수, 물가 상승률)</h4>
                  <ul>
                    <li>1차 반감기 : 소지자물가지수와 중간정도(0.58)의 상관관계를 보이며, 물가 상승에 민감한 대체 자산으로 주목받기 시작했습니다.</li>
                    <li>2차 반감기 : 소비자물가지수와 생산자물가지수의 상관관계가 높아졌으나, 물가 상승과는 거의 무관했습니다.</li>
                    <li>3차 반감기 : 물가 상승률과의 상관관계가 0.40으로 강화되었으며 투자 심리와 유동성이 주요 요인으로 작용했습니다.</li>
                    <li>3차 반감기 : 소비자물가지수, 생산자물가지수, 물가 상승률 모두 약한 연관성을 보이며, 다른 거시 경제 요인에 더 민감하게 반응했습니다.</li>
                  </ul>
                  <p>비트코인은 인플레이션 방어 자산에서 점차 복합적 경제 요인에 반응하는 자산으로 진화하고 있습니다. </p>

                  <h4>4. 통화 정책(기준금리, 통화량, 환율)</h4>
                  <ul>
                    <li>1차 반감기 : 금리와 통화량, 환율과이 상관관계가 낮았습니다.</li>
                    <li>2차 반감기 : 통화 정책 변화에 민감하게 만응하며 상관관계가 강화되었지만, 환율과의 상관관계는 0.07로 낮았습니다.</li>
                    <li>3차 반감기 : 팬데믹으로 인한 대규모 유동성 공급이 비트코인 가격 상승을 주도하며, 통화 정책보다 투자 심리가 주요 요인으로 작용했습니다.</li>
                    <li>3차 반감기 : 금리와 통화량보다 환율과의 상관관계가 강화되며, 글로벌 경제 심리가 비트코인 가격에 더 큰 영향을 미쳤습니다.</li>
                  </ul>
                  <p>각 반감기별 변화하는 비트코인이 경제적 맥락에 따라 다르게 반응하며, 점차 글로벌 경제 요인에 민감한 자산으로 진화하고 있음을 보여줍니다.</p>

                  <h4>5. 안전 자산(금 가격, 채권)</h4>
                  <ul>
                    <li>1차 반감기 : 금과 채권과의 연관성이 낮았습니다.</li>
                    <li>2차 반감기 : 안정적 투자 대안으로 평가받으며 상관관계가 강화되었습니다.</li>
                    <li>3차 반감기 : 팬데믹으로 인한 유동성 공급이 주요 요인으로 작용하며 금과의 동조화는 약화되고, 채권과는 음의 상관관계를 보였습니다.</li>
                    <li>3차 반감기 : 금과의 상관관계가 거의 사라진 반면(0.02), 체권과의 상관관계가 상승(0.52)하며 안전 자산으로서의 역할을 일부 수행했습니다.</li>
                  </ul>
                  <p>각 반감기별 상관관계 변화는 비트코인이 경제적 맥랙에 따라 다르게 반응하며, 독립적인 투자 논리를 가진 자산으로 진화하고 있음을 보여줍니다.</p>

                </div>
            </div>
            <!--토글 종료-->
    </section>
    <div class="heading_container">
      <h2>내용 정리</h2>
    </div>
    <div class="container">
      <p>
        비트코인은 초기에는 기존 금융 시장과 독립적으로 움직였으나, 2차 반감기 이후 주식 시장과 연관성이 높아지며 위험 자산으로 평가받았습니다. 3차 반감기에서는 팬데믹으로 인한 유동성 공급으로 전통 금융 자산과의 상관관계가 최고 수준에 이르렀으며, 경제 상황에 민감하게 반응했습니다.
        4차 반감기의 데이터는 아직 축적 중이지만, 기존 금융 시장과의 관계가 약화되는 경햐이 나타나고 있습니다. 기존 금융 시장과의 관계가 다소 약해지는 경향이 나타나고 있습니다. 이는 비트코인이 독립적인 투자 논리를 가진 자산으로 진화하고 있음을 보여줍니다. 
      </p>
      <p>
        향후 더 많은 데이터가 축적되면 비트코인의 미래 방향성과 역할이 더 명확히 드러날 것입니다.비트코인은 이제 단순한 새로운 자산을 넘어, 글로벌 경제의 중요한 축으로 자리잡고 있습니다. 현재로서는 경제 상황에 따라 다양한 역할을 수행할 수 있는 유연한 자산으로 평가됩니다.
      </p>

      <p>
        다른 요인에 대한 분석을 보고 싶으시다면 아래 링크를 클릭하세요 
     </p>
     <ul>
         <a href="{% url 'test:halving_pattern' %}"> <li>반감기 패턴: 비트코인 반감기 패턴</li></a>
         <a href="{% url 'test:detail_issue' %}"> <li>글로벌 이벤트: 규제 변화, 대규모 해킹 사건 등</li></a>
         <a href="{% url 'test:technical_analysis' %}"> <li>기술적 분석: 지지선과 저항선, 이동 평균</li ></a>
     </ul>
    </div>
</section>
<hr>

  <!-- info section -->
  <section class="info_section">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              address
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                코리아IT코딩아카데미학원
              </p>
            </div>
            <div style="padding-left: 33px;">
              <p>
                신촌점 서울 마포구 서강로 136
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-3" style="margin-left: 125px;">
          <div class="info_contact">
            <h5>
              github
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/icons8-github의-96.png" width="18px" alt="">
              </div>
              <a href="https://github.com/saab9699-minsu/final_project2">
                <p id="github">
                  깃 허브 페이지 접속하기 
                </p>
              </a>
            </div>
          </div>
        </div>



        <div class="col-md-3" style="margin-left: 125px;">
          <div class="info_info">
            <h5>
              Investment Precautions
            </h5>
            <p>
              가상자산의 가치 변동으로 인한 손실 발생 가능성 등을 유념하시어 무리한 투자는 지양하시기 바랍니다.
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved By
      <a href="#">Bitcoin Analysis Insights</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>