<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Esigned</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  
  <!-- 폰트 적용 추가 -->
  <style>
    @font-face {
        font-family: 'S-CoreDream-3Light';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body {
        font-family: 'S-CoreDream-3Light';
    }
    </style>
    
<!-- 토글 버튼 추가 -->
    <script>
        function toggleVisibility(id) {
            const element = document.getElementById(id);
            element.style.display = element.style.display === 'none' ? 'block' : 'none';
        }
    </script>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <span>
              Esigned
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'test:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:about' %}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:do' %}"> What we do </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:portfolio' %}"> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:contact' %}">Contact us</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="">
                  <img src="/media/images/user.png" alt="">
                </a>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">

        <div class="heading_container">
            <h2>
            반감기란?
            </h2>
        </div>
        
        <section calss="who_section layout_padding">
            <div class="container">
                <div class="detail-box">
                    
                    <h4>반감기란</h4>
                    <p>비트코인 반감기는 4년에 한번 생기는 큰 이벤트입니다. 반감기가 오면, 비트코인 채굴자들이 블록 하나를 완성하고 받는 보상이 딱 절반으로 줄어들어요. 예를 들면, 원래 6.25개를 받았다면 반감기 후엔 3.125개로 줄어드는 거죠. "열심히 일했는데, 왜 보상이 줄어들지?"라고 생각할 수 있지만, 이게 바로 비트코인의 특별한 전략입니다.</p>
                
                    <h4>왜 중요할까요?</h4>
                    <p>비트코인의 총 발행량은 2,100만 개로 딱 정해져 있어요. 그래서 반감기마다 공급 속도를 줄여 희소성을 높입니다. 마치 금광에서 금이 점점 적게 나오는 것처럼 말이죠. “더 귀해진다? 그럼 더 가치가 올라가겠네!”라는 심리 때문에 시장이 들썩이게 됩니다.</p>
                
                    <h4>NFT랑 메타버스는 왜 나와?</h4>
                    <p>비트코인은 암호화폐 시장의 <strong>대장</strong>이기 때문에 비트코인이 움직이면 나머지도 영향을 받습니다. 마치 왕이 명령하면 나라 전체가 움직이는 것처럼요. 반감기 이후 비트코인에 대한 기대감이 높아지면, 암호화폐 시장 전체에 긍정적인 분위기가 퍼집니다. 그 여파로 <strong>NFT</strong>나 <strong>메타버스</strong> 같은 신흥 분야에도 투자자들이 관심을 가지게 됩니다. "비트코인 좋다는데, 다른 것도 좀 볼까?" 이런 식으로요.</p>
                
                    <h4>요약하자면</h4>
                    <ul>
                        <li><strong>반감기</strong>는 4년에 한 번, 비트코인의 채굴 보상이 반으로 줄어드는 이벤트입니다.</li>
                        <li>이로 인해 <strong>비트코인 희소성</strong>이 높아지고, 투자 심리가 자극되며 가격이 움직이곤 합니다.</li>
                        <li>비트코인의 긍정적인 움직임은 <strong>NFT</strong>와 <strong>메타버스</strong> 같은 다른 분야에도 좋은 영향을 줄 수 있습니다.</li>
                    </ul>
                
                    <h4>결론?</h4>
                    <p>반감기는 단순히 보상이 줄어드는 이벤트가 아니라 시장 전체를 흔들어놓는 큰 파도입니다. 비트코인이 반감기를 맞이하면 모두가 주목하고, 그 여파로 다양한 분야까지 활기를 띠게 되죠. 이것이 바로 비트코인 반감기에 주목해야 할 이유입니다!</p>
                </div>
            </div>
        </section>
<hr>
        <div class="heading_container">
            <h2>
            반감기 패턴 
            </h2>
        </div>
    <div class="hero_area">
    <!-- 반감기 종가 그래프로 활용 -->
    <!-- slider section -->
        <section class=" slider_section position-relative">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="detail-box">
                                        <div>
                                            <h2> 2010~2012 </h2>
                                            <h2> 1차 반감기 이전 </h2>                                        
                                            <img src="/media/images/halving_patterns/0_halving.png" alt="0차 반감기 " width="800" height="250">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h2> 2012~2016 </h2>
                                        <h2> 1차 반감기 </h2>                                    
                                        <img src="/media/images/halving_patterns/1_halving.png" alt="1차 반감기 " width="800" height="250">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h2> 2016~2020 </h2>
                                        <h2> 2차 반감기 </h2>                                    
                                        <img src="/media/images/halving_patterns/2_halving.png" alt="2차 반감기 " width="800" height="250">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div>
                                        <h2> 2020~2024 </h2>
                                        <h2> 3차 반감기 </h2>                                    
                                        <img src="/media/images/halving_patterns/3_halving.png" alt="3차 반감기 " width="800" height="250">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div>
                <p>비트코인의 반감기별 종가 그래프입니다.</p>
                <p>단가는 다르지만 비슷한 모양을 하고 있다는 느낌이 들지 않으시나요?</p>
                <p>패턴의 유사성이 있는지 확인하기 위해 누적 수익률로 시각화와 계절성 요소를 분석했습니다.</p>
            </div>
        </section>
    <!-- end slider section -->
    </div>



  <!-- end contact section -->
<hr>
    <div class="heading_container" >
        <h2>
            누적 수익률로 본 패턴 
        </h2>
    </div>
<!-- 이미지 그래프 -> plotly로 변환 -->
    <section calss="who_section layout_padding">
      <div>
        <h3> 2010~2024 </h3>
        <h3><strong> 반감기 별 수익률 </strong></h3>          
          {{ log_profit_btc_graph | safe }}
        <p>반감기 별로 그려본 누적 수익률 그래프입니다.</p>
          <ul>
            <li> 1차~3차 반감기의 수익률을 보면, 상승하는 지점과 하락하는 지점의 시기가 비슷합니다.</li>
            <li> 반감기가 진행 될수록 (0차 → 4차) 누적수익률은 낮아지는 것을 확인할 수 있습니다.</li>
            <li> 이는 반감기마다 채굴량이 줄어 그만큼 수익률이 낮아지는 것으로 보입니다</li>
          </ul>        
      </div> 
      
      <div>
        <h3><br><strong> 반감기 패턴 확인 </strong></h3>
        
        <p>그래프로 보면 비슷해보이는데, 실제로 반감기 패턴이 있을까요? </p>
        <p>정해진 기간별로 어떠한 패턴을 보이는 것을 '계절성'이라고 하는데요, 반감기 별로 계절성이 있는지 알아보았습니다. </p>
        <img src="/media/images/halving_patterns/halving_pattern_BTC_Close.png" alt="반감기 별 그래프(종가) " width="500" >
        <img src="/media/images/halving_patterns/halving_pattern_trend.png" alt="반감기 별 그래프(트렌드) " width="500" >
        <img src="/media/images/halving_patterns/halving_pattern_seasonal.png" alt="반감기 별 그래프(계절성) " width="500" >
        <img src="/media/images/halving_patterns/halving_pattern_resid.png" alt="반감기 별 그래프(잔차) " width="500" >
        <p>회색 점선으로 반감기를 표시했습니다 </p>
        <ul>
          <li> Trend (추세): 시간이 지남에 따라 완만하게 상승하다가 2020년 이후 급격한 증가를 보이고 있습니다. </li>
          <li> Seasonal (계절성): 데이터의 반복되는 패턴이 뚜렷하게 나타납니다. 특정 주기에 따라 데이터가 일정하게 상승 및 하강하는 모습을 보입니다. 이 패턴은 기간(1450일)이 길기 때문에 장기적인 사이클을 나타낼 수 있습니다.</li>
          <li>Residual (잔차): 추세와 계절성을 계산했을 때 Close(종가)와의 차이를 나타낸 것입니다. 평균 잔차는 약 0.84 입니다. 차이가 적을 수록 계절성의 패턴이 잘 드러난다는 뜻입니다. </li>
        </ul> 
        <p>계절성 날짜를 100일로 설정했을 때의 잔차 평균이 0.99로 반감기 날짜 1450일이 계절성을 더 잘 나타낸다는 것을 알 수 있습니다. </p>
      </div>



        <!-- <div class="container" style="padding-left: 50px;"> -->
            <!-- 토글 버튼 -->
            <!-- <button onclick="toggleVisibility('compoundInterest')">복리 수익률이란?</button> -->
            <!-- 토글버튼 클릭시 나오는 내용 -->
            <!-- <div id="compoundInterest" style="display: none;"> -->
            <!-- <p><strong>로그 수익률을 쓰는 이유 </strong></p> </div>-->          
        <!-- </div> -->
      <!-- 토글 종료 -->       
    </section>
<section class="contact_section layout_padding">
  <div class="container">

      <div class="heading_container">
          <h2>
          반감기 패턴 분류 
          </h2>
      </div>
      
      <!-- 이미지 -> plotly 변경 -->
      <section calss="who_section layout_padding">
          <div class="container">
              <div class="detail-box">
                  
                  <h4>반감기 분류</h4>
                  <p>반감기는 평균적으로 약 1450일 주기로 찾아옵니다. </p>
                  <p>해당 기간을 다섯개의 구간으로 나누면 비슷한 패턴이 보입니다</p>
                  <li> 구분 기준 = 각 반감기 기간 / 5 (약 9개월) </li>
                  <div>
                    {{ log_profit_btc_category|safe }}
                  </div>
  
                  <ul>
                    <li> 상승 : 반감기가 시작된지 얼마 되지 않은 시점으로 가격이 상승하는 특징이 있습니다. </li>
                    <li> 과열 : 과열되는 시기로 급등하는 경향이 있고 고점이 포함되어 하락에 주의해야하는 시점입니다. </li>
                    <li> 하락 : 고점을 찍은 후 하락하는 경향이 있는 시기입니다.</li>
                    <li> 횡보 : 하락 후 횡보하는 경향이 있는 시기입니다. </li>
                    <li> 회복기대 : 다음 반감기가 얼마 남지 않은 시점으로, 가격상승 기대감으로 오르는 시기입니다. </li>
                  </ul> 

                  <p>아래 표는 비트코인의 1차부터 3차 반감기까지를 구간으로 나누고, 각 구간에서만 투자했을 때의 누적수익률과 최대 손실(MDD, Maximum Drawdown)을 정리한 내용입니다</p>
                  <div>
                    <img src="/media/images/halving_patterns/pattern_category.png" alt="" width="500" >
                  </div>
                  <ul>
                    <li>누적수익률이 높은 구간은 과열 구간(92.64배), 그다음으로는 상승 구간(73.96배)이었습니다.</li>
                    <li>위험(손실)이 가장 큰 구간은 하락 구간(-95.0%)으로, 투자 금액의 거의 대부분을 잃을 위험이 있었습니다.</li>
                    <li>안정적인 투자 전략을 위해서는 상승 및 회복 기대 구간에 집중하거나, 횡보 구간에서 손실을 제한하는 방법이 유리할 수 있습니다.</li>
                  </ul>
              </div>
          </div>
      </section>
<hr>

  <section calss="who_section layout_padding">
    <div class="container">
        <div class="detail-box">
          <div class="heading_container">
              <h2>
              내용 정리
              </h2>
              <div>
                <p><strong>비트코인 반감기의 중요성과 시장에 미치는 영향</strong></p>
                <p>
                    비트코인 반감기는 채굴 보상이 줄어드는 구조적 변화로 인해 희소성이 증가하고, 
                    시장에 활기를 불어넣는 중요한 이벤트입니다. 반감기별 패턴은 상승, 과열, 하락, 
                    횡보, 회복기대의 다섯 가지 주기로 나타나며, 약 1450일의 주기를 통해 장기적인 
                    계절성을 보여줍니다. 이러한 주기적 특성은 시장 흐름을 이해하는 데 유용한 
                    참고자료가 될 수 있습니다.
                </p>
                <p><strong>시장에 영향을 미치는 기타 요인</strong></p>
                <p>
                    그러나, 이러한 패턴만으로는 비트코인의 가격 변동이나 시장의 전반적인 움직임을 
                    완전히 설명할 수 없습니다. 경제 상황, 글로벌 이벤트, 투자자 심리, 그리고 기술적 
                    분석 같은 다양한 요인이 비트코인 시장에 영향을 미칩니다.
                </p>

                <p>
                    비트코인의 반감기는 중요한 참고 지표지만, 이를 단독으로 의사결정의 기준으로 삼는 것은 
                    한계가 있습니다. 반감기와 더불어 다양한 외부 요인을 종합적으로 고려하는 것이 더욱 
                    현명한 투자 판단으로 이어질 것입니다.
                </p>

                <p>
                  다른 요인에 대한 분석을 보고 싶으시다면 아래 링크를 클릭하세요 
               </p>
               <ul>
                   <a href="{% url 'test:corr' %}"> <li>경제 상황: 경기침체, 인플레이션 등 거시경제적 변화</li></a>
                   <a href="{% url 'test:detail_issue' %}"> <li>글로벌 이벤트: 규제 변화, 대규모 해킹 사건 등</li></a>
                   <a href="{% url 'test:technical_analysis' %}"> <li>기술적 분석: 지지선과 저항선, 이동 평균</li ></a>
               </ul>
            </div>
        </div>
    </div>
  </section>


  
</section>
</div>
  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                Address
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/media/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/media/images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
              </div>

              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="/media/images/fb.png" alt="">
              </a>
              <a href="">
                <img src="/media/images/twitter.png" alt="">
              </a>
              <a href="">
                <img src="/media/images/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="/media/images/youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2020 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>