<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Esigned</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  
  <!-- 폰트 적용 추가 -->
  <style>
    @font-face {
        font-family: 'S-CoreDream-3Light';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    body {
        font-family: 'S-CoreDream-3Light';
    }
    #github{
      color: white;
    }
    #github:hover {
      color: gray;
    }
    </style>
    
<!-- 토글 버튼 추가 -->
    <script>
        function toggleVisibility(id) {
            const element = document.getElementById(id);
            element.style.display = element.style.display === 'none' ? 'block' : 'none';
        }
    </script>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid" style="background-color: #6495ED;">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="{% url 'test:index' %}">
            <div class="img-box">
              <img src="/media/images/코돌프.png" width="70px" alt="">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'test:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:about' %}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:do' %}"> Analysis </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:portfolio' %}"> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:contact' %}">Prediction</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">

        <div class="heading_container">
            <h2>
            비트코인과 반감기
            </h2>
        </div>
        
        <section calss="who_section layout_padding">
            <div class="container">
                <div class="detail-box">
                    
                    <h4>반감기</h4>
                    <p>최근, 2024년 4월에 반감기가 찾아옴으로써 현재까지는 총 4번의 반감기가 발생함</p>
                
                    <h4 style="padding-top: 30px;">채굴 보상 변화</h4>
                    <ul>
                      <li>2009년 출시 : 비트코인 50개</li>
                      <li>2012년 반감기 : 비트코인 25개</li>
                      <li>2016년 반감기 : 비트코인 12.5개</li>
                      <li>2020년 반감기 : 비트코인 6.25개</li>
                      <li>2024년 반감기 : 비트코인 3.125개</li>
                      <li>2028년 반감기 : 비트코인 1.5625개</li>
                    </ul>
                </div>
            </div>
        </section>
<hr>
        <div class="heading_container">
          <h2>
          사건 & 사고
          </h2>
        </div>
    <div class="hero_area">
    <!-- 반감기 종가 그래프로 활용 -->
    <!-- slider section -->
        <section class=" slider_section position-relative">
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="detail-box">
                                        <div style="margin-top: 70px;">                                     
                                            <img src="/media/images/detail_issue/0. Before Half Life Period Graph.png" alt="0차 반감기 " width="1000px">
                                            <img src="/media/images/detail_issue/0. Before Half Life Period History.png" alt="0차 반감기 " width="1000px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          <div class="row">
                              <div class="col">
                                  <div class="detail-box">
                                    <div style="margin-top: 70px;">                                     
                                      <img src="/media/images/detail_issue/1st Half Life Period Graph.png" alt="0차 반감기 " width="1000px">
                                      <img src="/media/images/detail_issue/1st Half Life Period History.png" alt="0차 반감기 " width="1000px">
                                   </div>
                                  </div>
                              </div>
                          </div>
                       </div>
                       <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                  <div style="margin-top: 70px;">                                     
                                    <img src="/media/images/detail_issue/2nd Half Life Period Graph.png" alt="0차 반감기 " width="1000px">
                                    <img src="/media/images/detail_issue/2nd Half Life Period History.png" alt="0차 반감기 " width="1000px">
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                  <div style="margin-top: 70px;">                                     
                                    <img src="/media/images/detail_issue/3rd Half Life Period Graph.png" alt="0차 반감기 " width="1000px">
                                    <img src="/media/images/detail_issue/3rd Half Life Period History.png" alt="0차 반감기 " width="1000px">
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                  <div style="margin-top: 70px;">                                     
                                    <img src="/media/images/detail_issue/4th Half Life Period Graph.png" alt="0차 반감기 " width="1000px">
                                    <img src="/media/images/detail_issue/4th Half Life Period History.png" alt="0차 반감기 " width="1000px">
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>    
            </div>
        </section>
    <!-- end slider section -->
    </div>



  <!-- end contact section -->
<hr style="margin-top: 100px;">
    <div class="heading_container">
        <h2>
          비트코인 가격 vs 뉴스 긍부정과 리젠율
        </h2>
    </div>
    <p style="margin-top: 30px;">가격이 상승/하락할 때, 사람들의 반응(긍부정)과 게시판에 작성되는 글 리젠율을 비교</p>
    <div class="hero_area">
      <section class=" slider_section position-relative">
        <div class="container">
            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="false">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col">
                                <div class="detail-box">
                                    <div style="margin-top: 70px;">                                     
                                        <img src="/media/images/detail_issue/Average Bitcoin Price and News Label.png" alt="0차 반감기 " width="1000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                          <div class="col">
                              <div class="detail-box">
                                  <div style="margin-top: 70px;">                                     
                                      <img src="/media/images/detail_issue/Average Bitcoin Price, News Label and Regen.png" alt="0차 반감기 " width="1000">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>    
        </div>
    </section>
  </div>
  <section calss="who_section layout_padding" style="margin-top: 50px;">
    <div class="container">
        <div class="detail-box" style="display: flex;">
          <div>
            <h4>2018년</h4>
            <ul>
              <li>11월 : 2018년 최저가 $3,000대에 도달하며 시장 우려 커짐</li>
              <li>일본의 거래소에서 해킹 사건이 발생</li>
            </ul>
        
            <h4 style="padding-top: 30px;">2019년</h4>
            <ul>
              <li>상반기</li>
              <ul>
                <li>기관 투자 증가, 투자자들의 관심 집중</li>
              </ul>
              <li>하반기</li>
              <ul>
                <li>각국의 규제 강화가 지속적으로 있었음</li>
              </ul>
            </ul>

            <h4 style="padding-top: 30px;">2020년</h4>
            <ul>
              <li>상반기</li>
              <ul>
                <li>5월에 3번째 반감기</li>
              </ul>
            </ul>
          </div>
          
          <div style="margin-left: 100px;">
            <h4>2021년</h4>
            <ul>
              <li>규제 및 투자자 진입 등 반복</li>
            </ul>

            <h4 style="padding-top: 30px;">2022년</h4>
            <ul>
              <li>상반기</li>
              <ul>
                <li>경제 불안정성과 금리 인상 등으로 하락</li>
              </ul>
              <li>하반기</li>
              <ul>
                <li>FTX 거래소 파산</li>
              </ul>
            </ul>

            <h4 style="padding-top: 30px;">2023년</h4>
            <ul>
              <li>TF 승인</li>
            </ul>

            <h4 style="padding-top: 30px;">2024년</h4>
            <ul>
              <li>4차 반감기</li>
            </ul>
          </div>
        </div>
    </div>
  </section>

</section>
</div>
  <!-- info section -->
  <section class="info_section">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              address
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                코리아IT코딩아카데미학원
              </p>
            </div>
            <div style="padding-left: 33px;">
              <p>
                신촌점 서울 마포구 서강로 136
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-3" style="margin-left: 125px;">
          <div class="info_contact">
            <h5>
              github
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/icons8-github의-96.png" width="18px" alt="">
              </div>
              <a href="https://github.com/saab9699-minsu/final_project2">
                <p id="github">
                  깃 허브 페이지 접속하기 
                </p>
              </a>
            </div>
          </div>
        </div>



        <div class="col-md-3" style="margin-left: 125px;">
          <div class="info_info">
            <h5>
              Investment Precautions
            </h5>
            <p>
              가상자산의 가치 변동으로 인한 손실 발생 가능성 등을 유념하시어 무리한 투자는 지양 하십시기 바랍니다.
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved By
      <a href="#">Bitcoin Analysis Insights</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>