<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>CoDolph</title>
  <link rel="icon" href="/media/images/코돌프(검정).png" type="image/x-icon">

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  <style>
    #github{
      color: white;
    }
    #github:hover {
      color: gray;
    }

    #coin_logo {
      position: absolute; 
      opacity: 0;
      transition-duration: 1s;
    }
    #coin_logo:hover {
      transform:rotate(1turn);
      opacity: 1;
    }
  </style>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid"  style="background-color: #6495ED;">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="{% url 'test:index' %}">
            <div class="img-box">
              <img src="/media/images/코돌프.png" width="70px" alt="">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'test:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:about' %}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:do' %}">  Analysis </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:portfolio' %}"> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:contact' %}">Prediction</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- do section -->

  <section class="do_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          분석페이지 
        </h2>
        <p>
          비트코인을 다양한 관점으로 분석하여 시장흐름에 대한 이해와 투자 인사이트를 제공합니다.
        </p>
      </div>
      <!-- 그림 클릭 시 링크로 넘어가기 적용 -->
      <div class="do_container">
        <div class="box arrow-start arrow_bg">
          <a href="{% url 'test:halving_pattern' %}" style="z-index: 99; display: block; position: relative;" >
            <div class="img-box">              
                <img src="/media/images/그림1.png" alt=""> 
            </div>
          </a>
          <div class="detail-box">
            <a href="{% url 'test:halving_pattern' %}">
              <h6>
                반감기 패턴
              </h6>
            </a>
          </div>
        </div>

        <div class="box arrow-start arrow_bg">
          <a href="{% url 'test:corr' %}" style="z-index: 99; display: block; position: relative;" >
            <div class="img-box">              
              <img src="/media/images/그림2.png" alt=""> 
            </div>
          </a>
          <div class="detail-box">
            <a href="{% url 'test:corr' %}">
              <h6>
                상관관계
              </h6>
            </a>
          </div>
        </div>

        <div class="box arrow-start arrow_bg">
          <a href="{% url 'test:detail_issue' %}" style="z-index: 99; display: block; position: relative;" >
            <div class="img-box">              
              <img src="/media/images/그림3.png" alt=""> 
            </div>
          </a>
          <div class="detail-box">
            <a href="{% url 'test:detail_issue' %}">
              <h6>
                사건 & 긍부정
              </h6>
            </a>
          </div>
        </div>
        <div class="box arrow-middle arrow_bg">
          <a href="{% url 'test:technical_analysis' %}" style="z-index: 99; display: block; position: relative;" >
            <div class="img-box">
              <img src="/media/images/그림4.png" alt="">
            </div>
          </a>
          <div class="detail-box">
            <a href="{% url 'test:technical_analysis' %}">
              <h6>
                기술적 분석
              </h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end do section -->

  <!-- info section -->
  <section class="info_section" style="margin-top: 20px;">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              address
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                코리아IT코딩아카데미학원
              </p>
            </div>
            <div style="padding-left: 33px;">
              <p>
                신촌점 서울 마포구 서강로 136
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-3" style="margin-left: 125px;">
          <div class="info_contact">
            <h5>
              github
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/icons8-github의-96.png" width="18px" alt="">
              </div>
              <a href="https://github.com/saab9699-minsu/final_project2">
                <p id="github">
                  깃 허브 페이지 접속하기 
                </p>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="margin-left: 125px;">
          <div class="info_info">
            <h5>
              Investment Precautions
            </h5>
            <p>
              가상자산의 가치 변동으로 인한 손실 발생 가능성 등을 유념하시어 무리한 투자는 지양 하십시기 바랍니다.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_info">
            <img id="coin_logo" src="/media/images/이더리움로고.png" width="50px">
          </div>
        </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved By
      <a href="#">Bitcoin Analysis Insights</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>