<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Esigned</title>

  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
            <span>
              Esigned
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'test:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:about' %}"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:do' %}"> What we do </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:portfolio' %}"> Portfolio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'test:contact' %}">Contact us</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="">
                  <img src="/media/images/user.png" alt="">
                </a>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- work section -->
  <section class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
      <h2>Portfolio</h2>

      <!-- 사용자 입력 폼 -->
      <form id="finance-form" method="POST">
        {% csrf_token %}
        <div>
          <label for="start">시작 날짜</label>
          <input type="date" id="start" name="start" value="{{ default_start }}">
          <label for="end">종료 날짜</label>
          <input type="date" id="end" name="end" value="{{ default_end }}">
        </div>  
        
        <div>
          <label for="btc">가상화폐 종목</label>
          <input type="text" id="btc" name="btc" value="{{ default_btc }}">

          <label for="tick">주식 종목</label>
          <input type="text" id="tick" name="tick" value="{{ default_tick }}">
        </div>

        <div>
          <label for="btc">자산 비중</label>
          <input type="text" id="weight" name="weight" value = "{{ default_weight }}">

          <label for="btc">초기 자금</label>
          <input type="text" id="price" name="price" value = "{{ default_price }}">
          
        </div>
        <button type="submit">확인</button>
      </form>

      <!-- 그래프 표시 -->
      <div id="line_graph">
          {{ line_graph|safe }}
      </div>

      <!-- 포트폴리오 -->
      <div>
        <h2>User Portfolio</h2>
        <p>[설정한 자산 비중]</p>
        {% for key, value in set_weight.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[개별 할당]</p>
        {% for key, value in user_allocation.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[설정한 포트포리오 성과]</p>
        {% for key, value in user_portfolio.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[남은 자금]</p>
        <p>{{user_leftover}}</p>
        </div>

        <div>
        <h2>optimized Portfolio</h2>
        <p>[최적화된 자산 비중]</p>
        {% for key, value in optimized_weights.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[개별 할당]</p>
        {% for key, value in Discrete_allocation.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[최적화된 포트포리오 성과]</p>
        {% for key, value in portfolio_performance.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[남은 자금]</p>
        <p>{{Funds_remainimg}}</p>

        <p>[최대 낙폭(MDD)]</p>
        <p>{{ mdd_mean }}%</p>

        <p>[사용한 환율(USD)]</p>
        <p>{{ exchange_rate }}</p>
      </div>

      <!-- pie 그래프 표시 -->
      <div id="pie_graph">
          {{ pie_graph|safe }}
      </div>

      <!-- Bar 그래프 표시 -->
      <div id="bar_graph">
          {{ bar_graph|safe }}
      </div>

      <!-- 포트폴리오 -->
      <div>
        <h2>User Portfolio</h2>
        <p>[설정한 자산 비중]</p>
        {% for key, value in set_weight.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[개별 할당]</p>
        {% for key, value in user_allocation.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[설정한 포트포리오 성과]</p>
        {% for key, value in user_portfolio.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[남은 자금]</p>
        <p>{{user_leftover}}</p>

        <h2>optimized Portfolio</h2>
        <p>[설정한 자산 비중]</p>
        {% for key, value in optimized_weights.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[개별 할당]</p>
        {% for key, value in Discrete_allocation.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[설정한 포트포리오 성과]</p>
        {% for key, value in portfolio_performance.items %}
          <p>{{ key }} : {{ value }}</p>
        {% endfor %}
        <p>[남은 자금]</p>
        <p>{{Funds_remainimg}}</p>

        <p>[사용한 환율(USD)]</p>
        <p>{{ exchange_rate }}</p>
      </div>

      <script>
          // 폼 제출 이벤트 처리
          $('#finance-form').on('submit', function(e) {
              e.preventDefault(); // 기본 동작 중단

              // 폼 데이터 가져오기
              const start = $('#start').val();
              const end = $('#end').val();
              const tick = $('#tick').val();
              const btc = $('#btc').val();

              // AJAX 요청
              $.ajax({
                  url: "",
                  method: "GET",
                  data: { start, end, tick: tick.split(','), btc: btc.split(',') },
                  headers: { "x-requested-with": "XMLHttpRequest" },
                  success: function(response) {
                    $('#graph').html(response.graph_html); // HTML로 그래프 업데이트
                  },
                  error: function(error) {
                      alert("Error updating graph: " + error.responseText);
                  }
              });
          });
      </script>
      </div>
    </div>
  </section>

  <!-- end work section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
                <img src="/media/images/location-white.png" width="18px" alt="">
              </div>
              <p>
                Address
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/media/images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/media/images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
              </div>

              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="/media/images/insta.png" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="/media/images/fb.png" alt="">
              </a>
              <a href="">
                <img src="/media/images/twitter.png" alt="">
              </a>
              <a href="">
                <img src="/media/images/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="/media/images/youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->


  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2020 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- owl carousel script 
    -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 0,
      navText: [],
      center: true,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        1000: {
          items: 3
        }
      }
    });
  </script>
  <!-- end owl carousel script -->

</body>

</html>